.red{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 200px 0 0 300px;
    border-radius: 100%;
    position: relative;
    z-index: 0;
}

.white{
    border: 2px solid white;
    border-radius: 100%;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    transition: all .1s ease-in-out;
}

.red:hover .white{
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
}